<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Client</servlet-name>
        <servlet-class>sockets.Client</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Server</servlet-name>
        <servlet-class>sockets.Server</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DbTest</servlet-name>
        <servlet-class>sockets.DbTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_Login</servlet-name>
        <servlet-class>Admin.Admin_Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login1</servlet-name>
        <servlet-class>Login1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>payment</servlet-name>
        <servlet-class>payment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>airtel_payment</servlet-name>
        <servlet-class>airtel_payment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Client</servlet-name>
        <url-pattern>/Client</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Server</servlet-name>
        <url-pattern>/Server</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DbTest</servlet-name>
        <url-pattern>/DbTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_Login</servlet-name>
        <url-pattern>/Admin_Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login1</servlet-name>
        <url-pattern>/Login1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>payment</servlet-name>
        <url-pattern>/payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>airtel_payment</servlet-name>
        <url-pattern>/airtel_payment</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
